# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
playwright_pom_practice_testcases.csv
storageState.json
config/config.js
allure-results/
allure-report/